.carousel-section{
    margin-bottom: 5px ;
}

.carousel-all{
    border:2px solid #eee;
    background-color: #eee;
    border-radius:10px;
    margin-top:15px;
    margin-bottom:10px;
}

.form{
    border:2px solid #eee;
    background-color: #eee;
    border-radius:10px;
}

.form-control{
    display:block;
}

.form-label{
    margin-left:5px;
}

.image-login{
    margin-left:30%;
    margin-right:25%;
    width:45%;
    height:60vh;
}

.carous-flow{
    background-color:#7776
}

@media screen and (max-width: 750px){
    .image-login{
        margin-left:30%;
    margin-right:25%;
        height:auto;
    }
}